<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>AirBnB clone</title>
	<link rel="icon" href="../static/images/icon.png" type="image/png">
	<link rel="stylesheet" href="../static/styles/4-common.css">
	<link rel="stylesheet" href="../static/styles/3-header.css">
	<link rel="stylesheet" href="../static/styles/3-footer.css">
	<link rel="stylesheet" href="../static/styles/6-filters.css">
</head>

<body>
	<header>
		<a class="logo" href="hbnb_filters"></a>
	</header>
	<div class="container">
		<section class="filters">
			<div class="locations">
				<h3>States</h3>
				<h4>&nbsp;</h4>
				<div class="dropdown">
					<ul class="popover popover-states">
						{% for state in my_states|sort(attribute="name") %}
						<LI><h2>{{ state.name }}</h2>
							<UL>
								{% for city in my_cities|sort(attribute="name") -%}
								{% if city.state_id == state.id %}
								<LI><h4>{{ city.name }}</h4></LI>
								{% endif %}
								{%- endfor %}
							</UL>
						</LI>
						{% endfor %}
					</ul>
				</div>
			</div>
			<div class="amenities">
				<h3>Amenities</h3>
				<h4>&nbsp;</h4>
				<ul class="popover popover-amenities">
					{% for amenity in my_amenities|sort(attribute="name") %}
					<LI><h4>{{ amenity.name }}</h4></LI>
					{% endfor %}
				</ul>
			</div>
			<button>Search</button>
		</section>
	</div>
	<footer class="footer-abs">
		<p>Best School</p>
	</footer>
</body>

</html>
